@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #1e1e20;
  color: #516363;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;
}

.main--menu {
  width: 100%;
  margin-left: 280px;
  position: relative;
  overflow-x: auto;
}

::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: #814ac9;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .main--menu {
    margin-left: 0;
  }
}
